body {
    background-color: #413c3b;
}

.container {
    width: 700px;
    height: 500px;
    background-color: brown;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-content: center;
}

p {
    color: white;
    font-size: 35px;
    padding: 3%;
}

.button {
    position: absolute;
    left: 90%;
    top: 85%;
    transform: translate(-120%, -10%);
    width: 250px;
    height: 80px;
}